 .input-style{
   width: 50%;
 }
 .other-field{
    min-width: 100%;
 }

@media (max-width: 768px) {
 .date-picker{
    min-width : 95%;
    color: rgb(41, 134, 216);
    padding: 12;
     /* background-color: blue; */
 }
 .other-field{
    min-width: 100%;
    padding: 120px;
    color: red;
    /* background-color: blue; */
 }
 .input-style{
   width: 50%;
 }
}